:root {
  --prim-1-color: #0693e3;
  --prim-2-color: #434a54;
  --prim-2-tonalidad-baja-color: #e6e9ed;
  --prim-2-tonalidad-media-baja-color: #ccd1d9;
  --prim-2-tonalidad-media-alta-color: #656d78;
  --prim-2-tonalidad-alta-color: #23282d;
  --sec-1-color: #ac92ec;
  --sec-2-color: #7ce708;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  line-height: 0;
  color: var(--prim-2-tonalidad-alta-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 100px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15%;
  background-color: var(--prim-1-color);
}

.header__logo a img {
  height: 50px;
}

.header__opciones-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__opciones-lista li {
  padding: 0 5px;
  font-size: 20px;
  font-weight: bold;
  color: var(--prim-2-tonalidad-alta-color);
}

.header__opciones-lista li:hover {
  border-bottom: 2px solid var(--prim-2-tonalidad-alta-color);
}

.info__personal {
  width: 100%;
  margin-top: 25px;
  padding: 25px 0;
  background-color: var(--prim-2-tonalidad-baja-color);
}

.info__personal--card {
  width: 65%;
  margin: 0 auto;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.info__personal-card--img img {
  height: 300px;
  border-radius: 10px;
}

.info__personal-card--info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 30px;
}

.info__personal-card--info h2 {
  font-size: 32px;
}

.info__personal-card--info p {
  font-size: 20px;
  color: var(--prim-2-tonalidad-media-alta-color);
}

/*------*/

.proyectos {
  width: 85%;
  margin: 30px auto;
}

.proyectos__sect {
  font-size: 22px;
  font-weight: bolder;
  padding-bottom: 25px;
}

.proyectos__item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 550px;
  justify-items: center;
  row-gap: 50px;
}

.proyectos__item--card {
  width: 250px;
  height: 485px;
  padding: 15px;
  border: 3px groove var(--prim-1-color);
  display: flex;
  flex-direction: column;
}

.proyectos__item-card--img {
  height: 250px;
}

.proyectos__item-card--img img {
  height: 100%;
}

.proyectos__item-card--info h2 {
  height: 35px;
  font-size: 30px;
}

.proyectos__item-card--info p {
  height: 135px;
  padding: 10px 0 20px 0;
  font-size: 17px;
  font-weight: 500;
  color: var(--prim-2-tonalidad-media-alta-color);
}

.proyectos__item-card--info a button {
  border: 2px solid var(--prim-2-color);
  padding: 5px 20px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  background-color: #ffff;
  transition: all 0.3s ease-in-out;
}

.proyectos__item-card--info button:hover {
  background-color: var(--prim-1-color);
}

/*-------*/

.footer__container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap-reverse;
  background-color: var(--prim-2-color);
}

.footer__container-copyright {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: var(--prim-2-tonalidad-media-baja-color);
  font-weight: 700;
}

.footer__container-copyright p a {
  color: var(--prim-1-color);
}

.footer__container-empresa {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: var(--prim-1-color);
  font-weight: bolder;
}

.footer__container-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.footer__container-redes a {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--prim-1-color);
  cursor: pointer;
  transition: all 0.2s linear;
}

.footer__container-redes a img {
  width: 30px;
  padding: 7.5px;
}

.footer__container-redes a:first-child:hover {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border-color: var(--prim-2-color);
}

.footer__container-redes a:nth-child(2):hover {
  background-color: #a5a3a3;
  border-color: var(--prim-2-color);
}

.footer__container-redes a:nth-child(3):hover {
  background-color: #00aced;
  border-color: var(--prim-2-color);
}

.footer__container-redes a:last-child:hover {
  background-color: #007bb6;
  border-color: var(--prim-2-color);
}

@media (max-width: 1024px) {
  .header__opciones-lista {
    gap: 5px;
  }

  .info__personal--card {
    width: 90%;
  }

  .info__personal-card--info {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  header {
    gap: 0;
  }

  .header__opciones-lista {
    gap: 5px;
  }

  .info__personal-card--info h2 {
    font-size: 28px;
  }

  .info__personal-card--info p {
    font-size: 17px;
  }
}

@media (max-width: 425px) {
  header {
    height: 150px;
  }

  .header__opciones-lista {
    flex-wrap: wrap;
    gap: 0;
  }

  .info__personal--card {
    height: 800px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .info__personal-card--info {
    height: auto;
  }

  .proyectos {
    width: 95%;
  }

  .proyectos__item {
    gap: 0;
  }

  .footer__container {
    height: 120px;
    text-align: center;
  }

  .footer__container-empresa {
    display: none;
  }
}
